<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Focus - Bootstrap Admin Dashboard </title>
<!--gapp links-->
<style>
    label{color: black;}
    th{background-color: rgb(180, 224, 224);
    color:rgb(37, 13, 104)}
    .productsize{height: 50px;width: 50px;}
    td{color:black;}

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #111;
      }
  
</style>
<!-- Site favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'vendors/images/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'vendors/images/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'vendors/images/favicon-16x16.png' %}">

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/core.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/icon-font.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'src/plugins/datatables/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'src/plugins/datatables/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/style.css' %}">
<!--gapp links-->


	<!--datatable-->
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
    <!-- Favicon icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'icon/css/all.css' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'focus/images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'focus/vendor/owl-carousel/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'focus/vendor/owl-carousel/css/owl.theme.default.min.css' %}">
    <link href="{% static 'focus/vendor/jqvmap/css/jqvmap.min.css' %}" rel="stylesheet">
    <link href="{% static 'focus/css/style.css' %}" rel="stylesheet">
    <!--invoice-->
    




</head>

<body style="background-color:rgb(247, 248, 251);">
	<div id="main-wrapper">
        
		
		




		
	</div>
	 <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="{% static 'focus/vendor/global/global.min.js' %}"></script>
    <script src="{% static 'focus/js/quixnav-init.js' %}"></script>
    <script src="{% static 'focus/js/custom.min.js' %}"></script>


    <!-- Vectormap -->
    <script src="{% static 'focus/vendor/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'focus/vendor/morris/morris.min.js' %}"></script>


    <script src="{% static 'focus/vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'focus/vendor/chart.js/Chart.bundle.min.js' %}"></script>

    <script src="{% static 'focus/vendor/gaugeJS/dist/gauge.min.js' %}"></script>

    <!--  flot-chart js -->
    <script src="{% static 'focus/vendor/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'focus/vendor/flot/jquery.flot.resize.js' %}"></script>

    <!-- Owl Carousel -->
    <script src="{% static 'focus/vendor/owl-carousel/js/owl.carousel.min.js' %}"></script>

    <!-- Counter Up -->
    <script src="{% static 'focus/vendor/jqvmap/js/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'focus/vendor/jqvmap/js/jquery.vmap.usa.js' %}"></script>
    <script src="{% static 'focus/vendor/jquery.counterup/jquery.counterup.min.js' %}"></script>


    <script src="{% static 'focus/js/dashboard/dashboard-1.js' %}"></script>

	<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="{% static 'select2.full.js' %}"></script>
                     
        	
</body>

</html>